<div class="row">
    <div class="col">
        <h1>Defective Monitoring</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="overflow-auto">
            <iframe
                src="https://app.powerbi.com/reportEmbed?reportId=94232ab9-48d0-4513-b01e-1c06f3290bf0&amp;autoAuth=true&amp;ctid=afff1096-7fd8-4cdd-879a-7db50a47287a&amp;config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWVhc3QtYXNpYS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D"
                style="width:100%;height:800px;border-width:1px;border-style:solid;margin:0px;display:block;overflow:auto;">
            </iframe>
        </div>
    </div>
</div>


