{% load static %}

<!-- App favicon -->
<link rel="shortcut icon" href="{% static 'Vendor/Bootstrap/assets/images/favicon.ico' %}">

<!-- App css -->
<link rel="stylesheet" type="text/css" href="{% static 'Vendor/Bootstrap/assets/css/icons.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Vendor/Bootstrap/assets/css/app.min.css' %}" id="light-style">
<link rel="stylesheet" type="text/css" href="{% static 'Vendor/Bootstrap/assets/css/app-dark.min.css' %}"
    id="dark-style">
