{% autoescape off %}
<div>
  <div class="row">
    <div class="col-xl-9">{{ plot_div }}</div>

    <div class="col-xl-3">
      <div class="card" style="height: 460px">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-12">
              <input
                type="text"
                id="simpleinput"
                class="form-control"
                value="{{key_dept}}"
              />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-xl-12">
              <select
                id="multiselect"
                multiple
                class="form-control"
                style="height: 360px"
              >
                {% for item in list_of_lot %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title mb-4">X Bar chart</h4>
          <div class="apex-charts" id="chart-line20"></div>
          <div class="apex-charts" id="chart-line21"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endautoescape %}
